<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <title>set-solve</title>
    </head>

    <div class="container">
        <h1>set-solve</h1>
        <form method=post enctype=multipart/form-data>
            <label class="file-select">
                <input type="file" name="file" required/>
                <span>Select File</span>
            </label>
            <input type="submit" value="Upload" id="submit">
        </form>
    </div>
</html>